<h3>Today's Lessons</h3>
<% if @lessons.size > 0 %>
<table class="lessons" summary="Today's Lesson List">
	<tr class="header">
		<th>Time</th>
		<th>Student</th>
	</tr>
	<% for lesson in @lessons do %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= lesson.date.hour.to_s.rjust(2, '0') + ':' + lesson.date.min.to_s.ljust(2, '0') %></td>
		<td><%= link_to lesson.student.first_name + ' ' + lesson.student.last_name, 
			coach_student_path(@coach, lesson.student) %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>No Lessons</p>
<% end %>